
textarea {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* Reset Chrome / Safari / Edge */
::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  all: unset;
}

/* Reset Firefox */
* {
  scrollbar-width: auto !important;
  scrollbar-color: auto !important;
}

html, body {
  overflow: hidden; /* disables scrollbars */
}


.my-button {
  border-radius: 0.5rem;         /* rounded-lg */
  background-color: #f5f5f5;     /* bg-neutral-100 */
  color: #18181b;                /* text-zinc-900 */
  width: fit-content;            /* -fit */
  padding-left: 1.5rem;          /* px-6 */
  padding-right: 1.5rem;         /* px-6 */
  padding-top: 0.5rem;           /* py-2 */
  padding-bottom: 0.5rem;        /* py-2 */
}

.my-button:active {
  background-color: #18181b;     /* active:bg-zinc-900 */
  color: #f5f5f5;                /* active:text-neutral-100 */
}


.purple-wave {
  background-image: url("/cyan.webp");
}

.lato {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.text-gradient {
  background: linear-gradient(to right, #9c27c0, #00e5ff); /* from purple-400 to pink-300 */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 390;
  font-style: normal;
}



.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}