@import 'tailwindcss'

textarea {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}




.purple-wave {
  background-image: url("/cyan.webp");
}

.lato {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.text-gradient {
  background: linear-gradient(to right, #9c27c0, #00e5ff); /* from purple-400 to pink-300 */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 390;
  font-style: normal;
}



.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}